@model OTS.Model.DressDetailsModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DressDetailsModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DressDetails_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DressDetails_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DressCategory_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DressCategory_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DressType_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DressType_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DressStyle_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DressStyle_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dimension_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dimension_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
