<!DOCTYPE html>
<html lang="en">
@Html.Partial("Head")
@Html.Partial("Style")
@*@{
        CIIT_HEMS_Student_Console.Models.UserLoginDetail ObjUserLoginDetail = null;
        if (Session["UserLoginDetail"] != null)
        {
            ObjUserLoginDetail = (CIIT_HEMS_Student_Console.Models.UserLoginDetail)Session["UserLoginDetail"];
        }
    }*@
<body>
    <div class="container" style="width:100%;">
        @Html.Partial("HeaderSection")
        <div class="main_body">
            <div style="min-height: 250px;" class="content_area">
                @RenderBody()
            </div>
        </div>
        @Html.Partial("Footer")
    </div>
</body>
</html>