@model IEnumerable<OTS.Model.OrderModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_Rider_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Warehouse_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T_Rider_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tailor_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DressDetails_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientSample_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QR_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Offer_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created_DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created_By)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified_DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified_By)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_Rider_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Warehouse_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_Rider_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tailor_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DressDetails_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientSample_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QR_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Offer_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created_DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created_By)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified_DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified_By)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deleted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
