@model OTS.Model.WarehouseModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WarehouseModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Warehouse_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warehouse_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warehouse_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warehouse_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Onwer_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Onwer_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Onwer_Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Onwer_Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Landline_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Landline_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cell_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cell_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QR_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QR_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
